.box{
 height: 300px;
  width: 300px; 
 text-align: center;
 color: white;
 font-weight: bolder;
 position: sticky;
 top: 15px;
}

#box1{
    /* position: relative; */
    background-color: beige;
}

#box2{
    background-color: black;
}

#box3{
    background-color: red;
}

#box4{
    background-color: green;
    
}

#box5{
    background-color: yellow;
    
  
}
